/**
 * @theme infi
 * @size 16:9 1280px 720px
 * @size 4K 3840px 2160px
 * @auto-scaling true
 */

@import 'default';

h1,
h2 {
  color: #f67905;
  text-align: center;
}

h3,
h4,
h5 {
  color: #666;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 16px;
  right: 16px;
}
header div {
  display: flex;
  align-items: center;
  gap: 4px;
}
